:root {
    --color1: #ffffff;
    --color2: #3d4e0a;
    --color3: #a9cd2d;
    --color4: #e7ebf2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color2);
    background-color: var(--color4);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* begin header styles */
header {
    color: var(--color3);
    padding: 20px 35px;
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/palm.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}
header h1 {
    padding: 10px 0 0;
    margin: 15px;

    font-weight: bold;
    font-size: 36 px;
    color: var(--color1);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

header a {
    text-decoration: none;
    color: var(--color1);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 2px 15px;
    border-bottom: 0.25vw solid var(--color1);
    margin: 15px;

    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: none;
}
/* end header styles */

/* begin body section styles */
section {
    padding: 20px 35px;
    display: flex;
    justify-content: first baseline;
    width: 100%;
    border: 2px solid red;
}

section h2 {
    width: 7%;
    min-width: 97px;
    padding: 35px 5px 0;
    border-right: 3px solid var(--color2); 
    margin: 15px;
    text-align: right;
    font-weight: bold;

    color: var(--color2);
 
    min-height: 150px;
    
}

section div {
    width: 93%;
    padding: 35px 0 0;
    margin: 1%;
    min-height: 150px;
    border: 2px solid red;
}

/* begin contact-me styles */

#contact-me div {
    justify-content: center;
}
#contact-me a {
    text-decoration: none;
    color: var(--color2);
}

#contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

#contact-me div ul li {
    padding: 0 15px;
    border-bottom: 0.25vw solid var(--color2);
    margin: 5px 15px 0;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: none;
}
/* end contact-me  styles */
/* end body section styles */

/* begin flex-box card section */

#work div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:inherit;
    padding-top: 0;
}

#work div div {
    border: 7px solid var(--color3);

}

.big-card {
    background-image: url("../images/palm.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
}

.small-card {
    background-image: url("../images/palm.jpg");
    background-position: center;
    background-size: cover;
    width: 48%;
}

