:root {
    --color1: #ffffff;
    --color2: #3d4e0a;
    --color3: #c0e250;
    --color4: #e7ebf2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: var(--color2);
    background-color: var(--color4);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* begin header styles */
header {
    color: var(--color3);
    padding: 0 35px 0 0;
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    margin: 10px 15px 10px 0;
    background-color: var(--color3);
    font-weight: bold;
    font-size: 3rem;
 }

header a {
    color: var(--color3);
}

header h1 a {
    padding: 0 35px 0 100px;
    color: var(--color2);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 2px 15px;
    border-bottom: 0.25vw solid var(--color3);
    margin: 10px 15px;
    
    font-weight: lighter;
    font-size: 2rem;
    text-shadow: none;
}

#portrait {
    padding-left: 85px;
}

#subtitle {
    height: 250px;
    padding: 15px;
    
    background-image: url("../images/palm.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    color: var(--color2);  
    /* border: 2px solid red; */
}

#subtitle h5 {
    padding: 15px;
    margin: 0 95px 5px 0;
    background-color: var(--color3);
    font-size: 2vw;
    font-weight: bold;
}
/* end header styles */

/* begin body section styles */
section {
    padding: 5px 35px 0 35px;
    display: flex;
    justify-content: baseline;
    width: 100%;
    /* border: 2px solid red; */
}

section h2 {
    width: 7%;
    min-width: 97px;
    padding: 35px 5px 0;
    border-right: 3px solid var(--color2); 
    margin: 15px;
    text-align: right;
    font-weight: bold;
    font-size: 1.45rem;
    color: var(--color2);
    min-height: 150px;
}

section div {
    width: 93%;
    padding: 15px 0 0;
    margin: 1%;
    min-height: 150px;
    /* border: 2px solid red; */
}


/* begin flex-box card section */

#work div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid red; */
  
}

#work div a {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
    /* border: 2px solid rgb(0, 47, 255); */
}

.big-card,
.small-card {
    border: 7px solid var(--color3);
    background-position: center;
    background-size: cover;
}

.big-card:hover,
.small-card:hover {
    filter: brightness(110%);
}

.big-card {
    background-image: url("../images/palm.jpg");
    width: 100%;
}


.small-card {
    background-image: url("../images/palm.jpg");
    width: 48%;
}

#work span {
    margin-top: 45px;
    margin-bottom: 15px;
    width: 150px;
    background-color: var(--color3);
    color: var(--color2);
    padding: 10px 5px;
    text-align: left;
}

h3 {
    margin-bottom: 2px;
}

h3 a {
    color: var(--color2);
    z-index: 1;
}
/* end flex-box card section */


/* begin contact-me styles */

#contact-me div {
    justify-content: center;
    padding-top: 35px;
}
#contact-me a {
    color: var(--color2);
}

#contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

#contact-me div ul li {
    padding: 0 15px;
    border-bottom: 0.25vw solid var(--color2);
    margin: 5px 15px 0;
    font-weight: lighter;
    font-size: 1.8rem;
    text-shadow: none;
}
/* end contact-me  styles */
/* end body section styles */